@{
    ViewData["Title"] = "Friends page";
}

<Center>
    <Div class="Table">
        <div class="table-column">
            <div class="block">
                <div class="block-text">ID:&nbsp;</div>
                <div class="block-text">2</div>
            </div>
            <div class="block">
                <div class="block-text">Имя:&nbsp;</div>
                <div class="block-text">Ильяс</div>
            </div>
            <div class="block">
                <div class="block-text">Фамилия:&nbsp;</div>
                <div class="block-text">Сужиков</div>
            </div>
            <div class="block">
                <div class="block-text">Возраст:&nbsp;</div>
                <div class="block-text">19</div>
            </div>
            <div class="block">
                <div class="block-text">Статус:&nbsp;</div>
                <div class="block-text">Лучший друг</div>
            </div>
            <div class="block">
                <div class="block-text">Номер телефона:&nbsp;</div>
                <div class="block-text">87472159234</div>
            </div>
            <div class="block">
                <div class="block-text">Описание:&nbsp;</div>
                <div class="block-text text-desctription">Знакомы с колледжа</div>
            </div>
        </div>
    </Div>
</Center>