@{
    ViewData["Title"] = "Friends page";
}

<Center>
    <button id="btnGetAll">Get all Humans</button><br/>
    <div class="Table">
        <div class="table-column">
            <div class="block">
                <div class="block-text">ID:&nbsp;</div>
                <div class="block-text">2</div>
            </div>
            <div class="block">
                <div class="block-text">Имя:&nbsp;</div>
                <div class="block-text">Ильяс</div>
            </div>
            <div class="block">
                <div class="block-text">Фамилия:&nbsp;</div>
                <div class="block-text">Сужиков</div>
            </div>
            <div class="block">
                <div class="block-text">Возраст:&nbsp;</div>
                <div class="block-text">19</div>
            </div>
            <div class="block">
                <div class="block-text">Статус:&nbsp;</div>
                <div class="block-text">Лучший друг</div>
            </div>
            <div class="block">
                <div class="block-text">Номер телефона:&nbsp;</div>
                <div class="block-text">87472159234</div>
            </div>
            <div class="block">
                <div class="block-text">Описание:&nbsp;</div>
                <div class="block-text text-desctription">Знакомы с колледжа</div>
            </div>
        </div>
    </div>


</Center>

<script type="text/javascript">
    var serviceUrl = 'http://mywebservice/api/test';

    function sendRequest() {
        var method = $('#method').val();

        $.ajax({
            type: method,
            url: serviceUrl
        }).done(function (data) {
            $('#value1').text(data);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            $('#value1').text(jqXHR.responseText || textStatus);
        });
    }
</script>